body {
  margin: 0;
  padding: 0 0 15px;
  min-height: 100%;
  /* font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif"; */
  font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
  font-size: 12px;
}
h1 h2 {
  padding:0;
  margin: 0 0 21px;
}
h3 {
  margin-left: -3px;
  color: #FF0000;
}
.clear { 
  content: "."; 
  visibility: hidden;
  clear: both; 
  display: block;
  overflow: hidden;
  visibility: hidden;
  width:0;
  height:0;
}
#container {
  width:1000px;
  height:850px;
  background: #FFFFFF url('images/seu.bg.jpg') no-repeat right top;
  margin:0;
  padding-left: 11px;
}
#content {
  padding-left: 7px;
}
.blueText {
  color: #004276;
}
.packageRegistration {
  margin-left: -3px;
  color: #FF0000;
  font-weight: bold;
}
.liMessage {
  display: block;
  width: 400px;
}
.formUl {
  margin-left:21px;
  padding: 0px;
}
.formUl li {
  padding: 3px 0 3px 0;
}
.formUl li label {
 
}
.count {
  height: 19px;
  width: 23px;
}
.price {
  display: block;
  height: 19px;
  padding: 5px;
}
.liPadOne {
  padding: 0 7px;
}
.liPadTwo {
  padding: 0 7px 0 13px;
}
.noListStyle {
  list-style: none;
}
.clearBoth {
  clear: both;
}
.noListStyle label {
  margin-left: -17px;
  padding: 0 7px 0 0;
}
.bold {
  font-weight: bold;
}
.paddSpanRight {
  padding-right: 21px;
}
.noPadLeft {
  margin-left: -17px;
  padding: 0 7px 0 0;
}
.spacer {
  display: block;
  height: 21px;
}
.noPadding {
  padding: 0px;
  margin: 0px;
}
.displayInline {
  display: inline;
}
.crudentialsPadding {
  padding: 7px 0 7px 21px;
  clear: both;
}
.crudentialsPadding li {
  display: block;
  float: left;
}
.crudentialsPadding label {
  display: block;
  width: 81px;
}
.crudentialsPadding input {
  width: 300px;
}
.block {
  display: block;
}
#cartItems {
  position: absolute;
  top: 21px;
  width: 500px;
  padding: 21px;
  background-color: #FFFFFF;
  z-index: 999;
}
.red-text {
  color: #CC0000;
  font-weight: bold;
  padding: 0 4px;
}
.error-required {
  border: 1px solid #CC0000;
}
#overlay { 
  position:absolute; 
  top:0; 
  left:0; 
  height:100%; 
  width:100%; 
  background:#FFFFFF url(images/ajax-loader.gif) no-repeat scroll center center; 
} 
#spinner {
  height: 100%; 
  background: transparent url(images/ajax-loader.gif) no-repeat center center; 
}
#payhere_container { 
  text-align:center;
  width: 98%; 
  margin: 1%; 
}
#payhere_table {  
  text-align:left; 
  width: 400px; 
  border: 1px dashed black; margin: 0 auto 0 auto; 
}
.message {
  margin: 7px;
  padding: 11px;
}
